@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* { 
  direction: rtl; 
  margin: 0; 
  padding: 0; 
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

}

.pull-center {
  margin-right: auto;
  margin-left: auto;
  float: none; 
}

#title { font-size: 2.5em; }
.panel-heading, .panel, .panel-body, #list2 { padding: 0; margin: 0; }

#panelForm { 	
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
  box-shadow: none;
}

#panelForm, #panelForm > .panel-body > * { width: 100%; }
#panelForm > .panel-body { margin: 5% 0 0 0; padding: 0; }
/*----------------------------------------------------------------------------*/
#testTable { width: 100% }
th, td { text-align: center; width: auto; }

.nameCell { width: 25%; text-align: right;}
.numberCell { width: 5%; text-align: right; }

tbody > tr:first-child > td { border-top: solid silver; }

.borderTop { border-top: 2px   solid; }
.borderCat { border: 2px solid lightgray; }
.cat { font-weight: bold; }
/*----------------------------------------------------------------------------*/

#list1 > .list-group-item, #sel {
  width: 100%;
  margin: 0;
  padding: 0 1% 0 2%;
  height: 2em;
}

.badge { vertical-align: middle; margin: 1% 0 1% 0; } 
h1,h2,h3,h4 { letter-spacing: .08em; border: none;}

.checkbox-inline {
  margin-right: 1.05em;
  margin-left: -3px;
  padding-top: 0;
}

.radio-inline {
  margin-left: 1em;
  margin-right: 1.05em;
}

input[type="radio"], input[type="checkbox"] {
  padding: 0;  
  margin-right: -1.2em;
}

.list-group-item:hover { background-color: lightgray;}
.list-group-item { border-radius: 0; width: 100%; }
.list-group-item a { 
    margin: auto 2% auto 1%;  
    padding-left: 3%; 
    border-left: 1px solid black; 
}
.list-group-item a:last-child { border: none; }
#dataTable { margin-bottom: 6%; }
/*---------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (max-width: 768px) {
  #title { font-size: 1.6em; }

  #testTable, #testTable > tbody, #testTable > tbody > tr { width: 100%; }
  
  #list2 > .list-group-item {
    width: 100%;
    margin: 0;
  }
  
  .panel-heading > h3 { font-size: 1.6em; } 
   #list1 > .list-group-item {
     width: 80%;
   }

   .col-sm-12, .col-sm-12 > * , .col-xs-12, .col-xs-12 > * {
    width: 100%; margin: 0; padding: 0;
  }
 
 
  .list-group-item a { 
    display: inline-table; 
    margin: 1% 2% 1% 2%; 
    padding-left: 3%; 
    border-left: 1px solid black; 
  }

  .list-group-item a:last-child { border: none;}
  .list-group-item, .list-group-item .active { border-radius: 0;}
  
  #dataTable { margin-bottom: 18%; }
}

